<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>21E1BC27-14FC-4581-9449-8F97EAE71103</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>g</string>
			<key>text</key>
			<string>Search Google Cloud for '{query}'</string>
			<key>url</key>
			<string>https://cloudsearch.google.com/cloudsearch?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3F127C3A-DF26-4D65-A1E8-69832B501919</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wat</string>
			<key>text</key>
			<string>Parse access token '{query}'</string>
			<key>url</key>
			<string>https://wadsworth-web.plaid.io/accesstokens?val={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>50EBB5E4-0DA7-40DA-B472-DD4579949C8C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wi</string>
			<key>text</key>
			<string>Pull item_id '{query}'</string>
			<key>url</key>
			<string>https://wadsworth-web.plaid.io/items?val={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>5CD2E7D9-39F5-4004-A5CC-43B871AECE01</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wins</string>
			<key>text</key>
			<string>Search institution '{query}'</string>
			<key>url</key>
			<string>https://wadsworth-web.plaid.io/institutions?val={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>6AC35B72-3C73-41FC-9DCD-0DAB0ABE84A4</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>b</string>
			<key>text</key>
			<string>Search Bill.com for '{query}'</string>
			<key>url</key>
			<string>https://app.bill.com/Search?corgcId=00801ATMNNZQIUSNuzk6&amp;Query={query}&amp;Action=DoSearch&amp;submitValue=submitBtn</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A2BED932-2AE2-4913-9D3C-94708EA54D34</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>wc</string>
			<key>text</key>
			<string>Search client_id '{query}'</string>
			<key>url</key>
			<string>https://wadsworth-web.plaid.io/clients?val={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A485FB42-99AF-4DCC-89EE-46B6A11A1341</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>z</string>
			<key>text</key>
			<string>Go to Zendesk Ticket ID '{query}'</string>
			<key>url</key>
			<string>https://plaid.zendesk.com/agent/tickets/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>A9CD0E13-ECAF-48E8-8B24-3C41E96EDA95</key>
		<dict>
			<key>enabled</key>
			<false/>
			<key>keyword</key>
			<string>li2</string>
			<key>text</key>
			<string>Search Linkedin for '{query}'</string>
			<key>url</key>
			<string>https://www.linkedin.com/search/results/all/?authorCompany=%5B%5D&amp;authorIndustry=%5B%5D&amp;contactInterest=%5B%5D&amp;facetCity=%5B%5D&amp;facetCompany=%5B%5D&amp;facetConnectionOf=%5B%5D&amp;facetCurrentCompany=%5B%5D&amp;facetCurrentFunction=%5B%5D&amp;facetGeoRegion=%5B%5D&amp;facetGeoUrn=%5B%5D&amp;facetGroup=%5B%5D&amp;facetGuides=%5B%5D&amp;facetIndustry=%5B%5D&amp;facetNetwork=%5B%5D&amp;facetNonprofitInterest=%5B%5D&amp;facetPastCompany=%5B%5D&amp;facetProfessionalEvent=%5B%5D&amp;facetProfileLanguage=%5B%5D&amp;facetRegion=%5B%5D&amp;facetSchool=%5B%5D&amp;facetSeniority=%5B%5D&amp;facetServiceCategory=%5B%5D&amp;facetState=%5B%5D&amp;groups=%5B%5D&amp;keywords={query}&amp;origin=GLOBAL_SEARCH_HEADER&amp;page=1&amp;refresh=false&amp;skillExplicit=%5B%5D&amp;topic=%5B%5D</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
	<key>onlyShowEnabledInPrefs</key>
	<true/>
</dict>
</plist>
